body {
    font-family: 'Lato', sans-serif;
    margin: 0%;
    padding: 0%;
}

div {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
}

p {
    margin: 10px auto 10px auto;
    text-align: justify;
    width: 980px;
    font-size: 18px;
    line-height: 28px;

}

.img-logo {
    width: 200px;
    height: 200PX;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

body{
    font-family: 'Lato', sans-serif;
  }

  .fundo-vermelho {
    background-color: rgb(173, 16, 16);
  }

  .links  {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .a1 {
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(173, 16, 16);
    border-radius: 50px;
    font-size: 30px;
  }
  