/* Início CSS Global */
* {
  margin: 0;
  font-family: sans-seri;
  padding: 0;
  text-decoration: none;
  font-weight: 600;
  max-width: 1513px;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

p {
  text-align: center;
  width: 100%;
  min-width: 300px;
  height: 15px 10px;
}

h3 {
  text-align: center;
  height: 65px ;
  margin: 0 0 45px;
}

/* Final CSS Global */

/* Seção topo */
.container-logo{
  background-color: rgb(255, 255, 255);  
}

.container-logo img {
  width: 200px;
}

.flex-logo p {
  color: rgb(171, 8, 8);
  margin-left: 50px;
  margin-top: 20px;
  max-width: 1300px;
  font-size: 75px;
  text-align: left;
}

.flex-logo{
  display: flex;
  align-items: center;
}

.flex-logo{
  margin-left: 20px;
  margin-top: 20px;
}

.container-links {
  text-align: center;
  margin-top: 30px;
  background-color: rgb(171, 8, 8);
  padding: 30px;
}

.container-links a{
  background-color: rgb(219, 48, 48);
  padding: 15px;
  color: #fff;
  font-size: 26px;
  border-radius: 30px;
}
/* Final topo */

/* Seção sobre */
.container-sobre {
  background-image: url(img/serviços.webp);
  background-size: cover;
  background-position: center;
}

.container-sobre h3{
  margin-top: 10px;
  font-size: 40px;
  color: rgb(171, 8, 8);
}

.container-sobre p{
  max-width: 800px;
  margin: 0 auto 50px;
  font-size: 30px;
  color: rgb(72, 5, 5);
  text-align: justify;
}

.container-sobre span{
  color: #ff0000;
}

.container-titulo-sobre {
  max-width: 800px;
  border-radius: 10px;
  margin: 0 auto 30px;
  padding: 70px;
  box-shadow: 0 8px 32px #1f26875e;
  background: #ffffffc4;
}
/* Final sobre */

/* Seção serviços */
.container-servico {
  background-color: rgb(171, 8, 8);
  height: 1100px;
}

.container-servico h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  height: 20px;
}

.imagem-servicos {
  height: 300px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagem-servicos img {
  width: 300px;
  padding: 10px;
  box-shadow: 3px 6px 10px 6px #0000005c;
  border-radius: 5px;
}
/* Final serviços */


/* Seção rodapé */
.interface {
  max-width: 1280px;
  margin: 0 auto;
}

footer {
  background-color: #fff;
  color: #ff0000;
  padding: 40px 0;
}

footer .line-footer1 {
  text-align: center;
  border-bottom: 1px #ff0000;
  padding-bottom: 40px;
}

.line-footer1 h2 {
  font-size: 2.5rem;
}

.line-footer1 p {
  font-size: 1.2rem;
  margin: 10px 0 10px 0;
}

.line-footer1 form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-footer1 form input[type=email] {
  width: 300px;
  height: 40px;
  background: transparent;
  border: 2px solid #ff0000;
  color: #ff0000
  padding: 10px;
  outline: 0;
}

.line-footer1 form input[type=submit] {
  width: 80px;
  height: 40px;
  background-color: #f20744;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  transition: .2s;
}

.line-footer1 form input[type=submit]:hover{
  background-color: #ffffff;
  color: #f20744;

}

footer .line-footer2 {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;

}


footer .line-footer2 p{
  text-align: left;
}

footer .line-footer2 .box-line-footer {
  max-width: calc(100% / 5);
}

footer .box-line-footer img {
  max-width: 200px;
  margin-bottom: 10px;
}

.line-footer2 .box-line-footer h3 {
  color: #f20744;
  margin-bottom: 20px;
}

.line-footer2 .box-line-footer a {
  color: #ff0000;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: .9rem;
}

.box-line-footer .btn-redes a {
  display: inline;
}

.box-line-footer .btn-redes button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid #ff0044;
  color: #ff0044;
  cursor: pointer;
  margin-right: 10px;
  transition: .2s;
}

.box-line-footer .btn-redes button:hover{
  background-color: #ffffff;
  border-color: #ffffff;
}

footer .line-footer3 {
  padding-top: 40px;
  text-align: center;
}

