* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* MENU */

.interface {
    max-width: 1200px;
    margin: 0 auto;
}

header .btn-contato button, .hero-site button {
    font-size: 18px;
    background-color: transparent;
    border: 1px solid rgb(255, 0, 0);
    color: #ff0000;
    cursor: pointer;
}

/* Estilo do header */

header {
    width: 100%;
    padding: 40px 0;
    position: ;
    top: 0;
    left: 0;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 100px;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a {
    color: #ff0000;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}

.menu-desktop nav a:hover{
    transform: scale(1.05);
    transition: .2s;
}

header .btn-contato button{
    width: 140px;
    height: 50px;
}

header .btn-contato button:hover, .hero-site button:hover{
    background-color: #ff0000;
    color: #fff;
    transition: 0.5s;
}

/* Estilo do hero */

section.hero-site {
    height: 70vh;
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {
    color: #c71717;
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 700;
    color: #c71717;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p span {
    display: block;
}

.hero-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* MENU */

/* CARDS */
body main {
    background-color: rgb(171, 8, 8);
    height: 55vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center
    

    color: #434343;
    font-size: 16px;
}

div.txt-card{
    background-color: rgb(171, 8, 8);
    text-align: center;
    color: #fff;
}

div.txt-card h1{
    
}

main.cards{
    display: flex;
    padding: 32px;
}

main.cards .container-cards{
    display: flex;
    flex-direction: row;
    padding: 32px;
}

main.cards  section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 256px;
    margin-left: 32px;
}

main.cards section.card:first-child{
    margin-left: 0;
}


main.cards section.card h3{
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300px;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card .icon{
    width: 64px;
    height: 64px;
}

main.cards section.card img{
    width: 100%;
}

main.cards section.card {
    box-shadow: 20px 20px 50px -30px;
}

@media screen and (max-width: 1050px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards  section.card:last-child{
        margin-bottom: 0;
    }

}

/* RODAPÉ */

footer .interface {
    max-width: 1280px;
    margin: 0 auto;
}

footer {
    background-color: #fff;
    color: #ff0000;
    padding: 40px 0;
}

footer .line-footer1 {
    text-align: center;
    border-bottom: 1px #ff0000;
    padding-bottom: 40px;
}

.line-footer1 h2 {
    font-size: 2.5rem;
}

.line-footer1 p {
    font-size: 1.2rem;
    margin: 10px 0 10px 0;
}

.line-footer1 form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-footer1 form input[type=email] {
    width: 300px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff0000;
    color: #ff0000
    padding: 10px;
    outline: 0;
}

.line-footer1 form input[type=submit] {
    width: 80px;
    height: 40px;
    background-color: rgb(171, 8, 8);
    border: 0;
    color: #ffffff;
    cursor: pointer;
    transition: .2s;
}

.line-footer1 form input[type=submit]:hover{
    background-color: #ffffff;
    color: rgb(171, 8, 8);

}

footer .line-footer2 {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;

}


footer .line-footer2 p{
    text-align: left;
}

footer .line-footer2 .box-line-footer {
    max-width: calc(100% / 5);
}

footer .box-line-footer img {
    max-width: 200px;
    margin-bottom: 10px;
}

.line-footer2 .box-line-footer h3 {
    color: rgb(171, 8, 8);
    margin-bottom: 20px;
}

.line-footer2 .box-line-footer a {
    color: #ff0000;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: .9rem;
}

.box-line-footer .btn-redes a {
    display: inline;
}

.box-line-footer .btn-redes button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid rgb(171, 8, 8);
    color: rgb(171, 8, 8);
    cursor: pointer;
    margin-right: 10px;
    transition: .2s;
}

.box-line-footer .btn-redes button:hover{
    background-color: #ffffff;
    border-color: #ffffff;
}

footer .line-footer3 {
    padding-top: 40px;
    text-align: center;
}