body {
    font-family: Tahoma;
    margin: 0%;
    padding: 0%;
}

div {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    margin: 10px auto 10px auto;
    text-align: justify;
    width: 980px;
    font-size: 18px;
    line-height: 28px;

}

.fundo-azul {
    background-color: #afddfb;
}

.img-logo {
    width: 150px;
}

.p-logo {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.link-1 {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 10px;
    margin-right: 10px;
}

.img2 {
    margin-top: 50px;
    padding-top: 0%;
}

span {
    font-weight: bold;
}

.title-3 {
    margin-bottom: 10px;
    color: #1d1d1d;

}

.subtitle-3 {
    margin-top: 0%;
    color: #1c81c0;
    font-weight: normal;
}

.img-3 {
    width: 450px;
}

.letra-azul {
    color: #1d80c1;
}

.fundo-blue {
    background-color: #1d80c1;
}

.sub-servico {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.p-servicos {
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}

.letra-amarela {
    color: #fff81b;
    font-weight: bold;
}

.lista-1 {
    margin: 40px auto 40px auto;
    width: 135px;
}

.iten-1 {
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

.sub-corretor{
    color: #1d80c1;
    font-size: 28px;
    line-height: 42px;
}

.p-contato {
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.secao-6 {
    margin: 40px auto 40px auto;
    width: 210px;
}

.iten-2 {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.link-2 { 
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}